html,body,.container-fluid{
	height:100%;
}
.container{
	width:100;
}

col{
	height:100vh;
}

#Tools{
	text-align: center;
}
#Canvas{
	text-align: center;
}

#Tutorial{
	text-align: center;
}

.border1{
	background-color: yellow;
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	height: calc(100vh - 100px);
}

.border2{
	background-color: blue;
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	height: calc(100vh - 100px);

}
.border3{
	background-color: red;
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	height: calc(100vh - 100px);
}