html,body{
	background-color: blue;
}

#Tools{
	text-align: center;
	display: block;
	background-color: yellow;
}

#Tools{
	text-align: center;
	display: block;
	background-color: yellow;
}

#Tools{
	text-align: center;
	display: block;
	background-color: yellow;
}